* {
  box-sizing: border-box;
}

:root {
  --page-1-color: #D90231;
  --page-2-color: #0071C5;
  --page-3-color: #77B900;
  --page-4-color: #FF6400;
  --animate-speed: 1s;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.4;
  color: #fff;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

/* page colors */
#page-1 { background-color: var(--page-1-color) }
#page-2 { background-color: var(--page-2-color) }
#page-3 { background-color: var(--page-3-color) }
#page-4 { background-color: var(--page-4-color) }

.page { 
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 3rem;
}

.page h1 {
  font-size: 3.5rem;
  line-height: 1.2;
  margin: 1.2rem;
}

.page p {
  font-size: 1.3rem;
}

.btn {
  display: inline-block;
  padding: 1rem 2rem;
  background: #ffff;
  color: red;
  text-decoration: none;
  border: none;
  font-size: 1.2rem;
  margin-top: 1.4rem;
  transition: all 0.4s ease-in;
}

.btn:hover,
.btn-dark {
  background: #333;
  color: #fff;
}

.btn-dark:hover {
  background: #fff;
  color: #333;
}